<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 컬럼명 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 로깅(Log) 설정 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- TypeAlias 설정 -->
    <typeAliases>
        <package name="co.kr.myportfolio.vo"/>
        <package name="co.kr.myportfolio.dto"/>
    </typeAliases>

</configuration>
